.cart {
  width: 400px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cart h2 {
  margin-bottom: 10px;
}
.myorders {
  text-decoration: none;
  border-bottom: #2980b9 1px solid;

  padding: 0.3rem 0.5rem;
}

.cart p {
  margin: 10px;
  font-size: 1.2em;
  color: #666;
}

.cart ul {
  list-style-type: none;
  padding: 0;
  margin-top: 10px;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

.cart-item div {
  flex-grow: 1;
}

.cart-item span {
  display: block;
}

.cart-item button {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.cart-item button:hover {
  background-color: #c0392b;
}

.clear-cart {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
}

.clear-cart:hover {
  background-color: #2980b9;
}

.quantity-control {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.prod-detail {
  width: 300px;
}
