.pagination {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  > ul {
    list-style: none;
    display: flex;
    > li {
      margin: 0.7rem;
      cursor: pointer;

      padding: 0.1rem 0.65rem;
    }
  }
}
.pages {
  border: 1px black solid;
  transition: all 0.3s ease;
}

.pages:hover {
  background-color: black;
  color: white;
  transition: all 0.1s ease;
}

#active {
  background-color: black;
  color: white;
  border-radius: 50%;
  transition: all 0.3 ease;
}

.actionbutton {
  border-radius: 50%;
  transition: all 0.1s ease;
}
.actionbutton:hover {
  border: 2px solid black;
  background-color: black;
  color: white;

  transition: all 0.1s ease;
}
